body {
    font-family: 'DM Sans', sans-serif;
    margin-left: 6rem;
    margin-right: 8rem;
    margin-top: 2.5rem;
}

header #logo {
   text-align: center;
}

#logo img {
    width: 20rem;
}

@media(max-width:800px) {
    #search-bar {
    width: 96%;
    }
}

#search-bar {
    position: relative;
    margin-top: 15px;
}

.search-bar-input {
    border: none;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 10px;
    background: #E7E7E7;
    border-radius: 3px;
    font-size: larger;
}

#search-bar input::placeholder {
    opacity: 35%;
}

.fa-search {
    position: absolute;
    right: -1rem;
    top: 1rem;
    font-size: xx-large;
}

@media(max-width:2500px){
    .info-bar {
        left: 4.5rem;
    }
}

@media(max-width:800px){
    .info-bar {
        width: 68%;
        flex-wrap: wrap;
    }
}

.info-bar {
    position: absolute;
    display: flex;
    top: 16rem;
    z-index: 1;
}

@media(max-width:800px) {
    .info-bar form {
        margin-top: 1rem;
    }
}

.info-bar form {
    height: 100%;
    color: white;
    border-radius: 5px;
    margin-left: 1.5rem;
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.ingredients-header, .devices-header, .utensils-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 8px;
}

.info-bar form section {
    display: none;
}

.text {
    display: flex;
    margin-top: 1rem;
    margin-bottom: -25px;
    margin-right: -4.5rem;
    margin-left: 10px
}

.text .col {
    margin-right: 6rem;
}

.text p {
    cursor: pointer;
    white-space: nowrap;
}

.info-bar input {
    border: none;
    font-size: 18px;
}

.info-bar input:focus {
    outline: none;
}

.info-bar input {
    display: none;
}

.info-bar .info-bar-ingredients input::placeholder, .info-bar .info-bar-devices
input::placeholder, .info-bar .info-bar-utensils input::placeholder {
    opacity: 35%;
    color: #FFFFFF;
}

.input {
    color: #FFFFFF;
}

.info-bar form label {
    font-size: 18px;
    padding-left: 1rem;
}

.info-bar-ingredients, .info-bar-ingredients input, .key-word-ingredient {
    background: #3282F7;
}

.key-word {
    display: none;
    position: absolute;
    top: -5rem;
    left: -18px;
    color: white;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 60px;
}

.fa-circle-xmark {
    display: none;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: -4.4rem;
    left: 3.3rem;
    color: white;
    font-weight: normal;
    font-size: larger;
}

.info-bar-devices, .info-bar-devices input, .key-word-appliance {
    background: #68D9A4;
}

.info-bar-utensils, .info-bar-utensils input, .key-word-utensil {
    background: #ED6454;
}

form .angles {
    display: flex;
}

.angles .fa-angle-up {
    display: none;
}

.angles .fa-chevron-down {
    font-size: medium;
}

 .angles .fa-angle-up, .fa-chevron-down {
    margin-left: 1.5rem;
    margin-top: 3px;
}

.info-bar label, .fa-angle-up, .fa-chevron-down {
    padding-right: 10px;
    font-size: larger;
}

.fa-angle-up, .fa-chevron-down {
    cursor: pointer;
}

@media(max-width:2500px) {
    .recipes-container {
        width: 110%;
        margin-top: 8rem;
    }
}

@media(max-width:1286px) {
    .recipes-container {
        width: 109%;
    }
}

@media(max-width:1120px) {
    .recipes-container {
        width: 112%;
    }
}

@media(max-width:968px) {
    .recipes-container {
        width: 112%;
    }
}

@media(max-width:954px) {
    .recipes-container {
        width: 114%;
    }
}

@media(max-width:800px) {
    .recipes-container {
        width: 114%;
        margin-top: 10rem;
    }
}

@media(max-width:604px) {
    .recipes-container {
        width: 114%;
        margin-top: 16rem;
    }
}

.recipes-container {
    display: flex;
    flex-wrap: wrap;
}

@media(max-width:2500px) {
    .recipe-card {
        width: 29%;
    }
}

@media(max-width:1256px) {
    .recipe-card {
        width: 45%;
    }
}

@media(max-width:1120px) {
    .recipe-card {
        width: 44%;
    }
}

@media(max-width:954px) {
    .recipe-card {
        width: 43%;
    }
}

@media(max-width:960px) {
    .recipe-card {
        width: 100%;
    }
}

@media(max-width:533px) {
    .recipe-card {
        
    }
}

.recipe-card {
    margin-left: 3rem;
    margin-top: 3rem;
    border-radius: 3px;
    cursor: pointer;
}

.recipe-header {
    background: #C7BEBE;
    height: 12rem;
    border-radius: 5px 5px 0 0;
}

.recipe-text {
    background: #E7E7E7;
    height: 12rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    border-radius: 0 0 5px 5px;
}

.title-time {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.title {
    font-weight: normal;
}

.time {
    margin-left: 6px;
    white-space: nowrap;
    font-weight: bold;
    font-size: 18px;
}

.time-recipe {
    display: flex;
    align-items: baseline;
}

.time-recipe i {
    font-size: larger;
    font-weight: normal;
}

.ingredients-description {
    display: flex;
    align-items: baseline;
    margin-top: -0.5rem;
}

.quantity-unit {
    display: flex;
    margin-left: 2px;
    white-space: nowrap;
}

.ingredients-ingredient-quantity-unit {
    display: flex;
}

.ingredient {
    white-space: nowrap;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.quantity, .unit {
    margin-top: 0;
    margin-bottom: 0;
}

@media(max-width:570px) {
    .description {
        width: 0;
    }
}

.description {
    margin-left: 1.5rem;
    /*Couper le texte de plusieur lignes en verticale*/
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.description, .ingredients-ingredient-quantity-unit {
    font-size: 12px;
}
