body {
    font-family: 'DM Sans', sans-serif;
    margin-left: 6rem;
    margin-right: 8rem;
    margin-top: 2.5rem;
}

header #logo {
   text-align: center;
}

#logo img {
    width: 20rem;
}

#search-bar {
    position: relative;
    margin-top: 15px;
}

.search-bar-input {
    border: none;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 10px;
    background: #E7E7E7;
    border-radius: 3px;
    font-size: larger;
}

input::placeholder {
    opacity: 35%;
}

.fa-search {
    position: absolute;
    right: -1rem;
    top: 1rem;
    font-size: xx-large;
}

.info-bar {
    position: absolute;
    display: flex;
    left: 4.5rem;
    top: 15.5rem;
    z-index: 1;
}

.info-bar ul {
    list-style: none;
    color: white;
    border-radius: 5px;
    margin-left: 1.5rem;
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.info-bar ul li {
    font-size: 18px;
    padding-left: 1rem;
}

.info-bar-ingredients {
    background: #3282F7;
}

.info-bar-devices {
    background: #68D9A4;
}

.info-bar-utensils {
    background: #ED6454;
}

.info-bar ul {
    display: flex;
    align-items: baseline;
}

.info-bar ul .fa-angle-up {
    display: none;
}

 .info-bar .fa-angle-up, .fa-chevron-down {
    margin-left: 1.5rem;
    margin-top: 3px;
}

.info-bar li, .fa-angle-up, .fa-chevron-down {
    padding-right: 10px;
    font-size: larger;
}

.fa-angle-up, .fa-chevron-down {
    cursor: pointer;
}

.recipes-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8rem;
    margin-left: -3rem;
    width: 110%;
}

.recipe-card {
    width: 29%;
    margin-left: 3rem;
    margin-top: 3rem;
    border-radius: 3px;
}

.recipe-header {
    background: #C7BEBE;
    height: 12rem;
    border-radius: 5px 5px 0 0;
}

.recipe-text {
    background: #E7E7E7;
    height: 12rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    border-radius: 0 0 5px 5px;
}

.title-time {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.title {
    font-weight: normal;
}

.time {
    margin-left: 6px;
    white-space: nowrap;
    font-weight: bold;
    font-size: 18px;
}

.time-recipe {
    display: flex;
    align-items: baseline;
}

.time-recipe i {
    font-size: larger;
    font-weight: normal;
}

.ingredients-description {
    display: flex;
}

.quantity-unit {
    display: flex;
}

.ingredients-bloc {
    display: flex;
    flex-wrap: wrap;
}

.description {
    margin-left: 1.5rem;
}

.description, .ingredients-bloc {
    font-size: 12px;
}
